[
 {sasl, 
  [
   {sasl_error_logger, false}
  ]},
 {lager, 
  [
   {handlers, 
    [
     {lager_console_backend, 
      [debug, 
       {lager_default_formatter, [color, time, " ", pid, " [", severity, "] [", {module, [module,
                {function, [":", function], ""},
                {line, [":", line], ""}], ""}, "] ", message, "\n"]}]},
     {lager_file_backend, 
      [
       {file, "log/debug.log"},
       {level, debug},
       {size, 10485760},
       {count, 50},
       {date, "$D0"},
       {formatter, lager_default_formatter},
       {formatter_config, []}
      ]}
     
    ]},
   {error_logger_redirect, true},
   {crash_log, "log/crash.log"},
   {crash_log_msg_size, 65536},
   {crash_log_size, 10485760},
   {crash_log_date, "$D0"},
   {crash_log_count, 5},
   {colored, true},
   {async, true}
  ]},
  
  {ecache,[
    {ets_threshold, 0.85}, 
    {ets_maxsize, 209715200}%200*1024*1024= 200M
  ]}
].